/* Error Pages Styling */
.misc-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 2rem;
}

.misc-wrapper h2 {
    font-weight: 900;
    color: #696cff;
    margin-bottom: 1rem;
}

.misc-wrapper h4 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.misc-wrapper p {
    color: #697a8d;
    font-size: 1rem;
}

.misc-wrapper .btn {
    margin-top: 0.5rem;
}

.misc-wrapper img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .misc-wrapper h2 {
        font-size: 4rem !important;
        line-height: 4rem !important;
    }

    .misc-wrapper img {
        width: 300px;
    }
}
